.index_portfolio_wrap {
  background-color: #fa5869;
}

.index_portfolio_grid {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  transition: all ease 2s;
}

.index_portfolio_img {
  max-height: 330px;
  padding: 5px;
}

.index_portfolio_row {
}
