.Menubar_wrap {
  background-color: rgba(255, 255, 255, 0.65);
  position: fixed;
  backdrop-filter: blur(5px);
  z-index: 9;
}

.Menubar_logo_wrap {
  align-items: center;
  justify-content: center;
}

.Menubar_list {
  padding: 3rem 2rem 3rem 1rem;
}

.Menubar_list_item {
  /* font-size: 21px; */
}

.Menubar_list_item a,
.Menubar_list_item button {
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
}

/* index version */
.Menubar_wrap_index {
  left: 0;
  top: 2rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 15px 0px 28px;
  display: flex;
}

.Menubar_logo_index {
  width: max(25%, 170px);
  padding: 0;
}
.Menubar_wrap_index .Menubar_list {
  padding: 3rem 2rem 0 1rem;
}

.Menubar_wrap_index .Menubar_list_item:hover::after {
  content: "";
  position: absolute;
  width: 3px;
  height: calc(100% - 14px);
  right: -1rem;
  background: #fa5869;
  top: 7px;
}

.Menubar_wrap_index .Menubar_list_item {
  padding: 0.5rem 0;
}

.Menubar_wrap_index .Menubar_list_item a {
  color: #194b92;
}

/* about version */
.Menubar_wrap_about {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
}

.Menubar_wrap_about .Menubar_logo {
}

.Menubar_list_wrap_about {
  padding: 15px 2rem 0 0;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.Menubar_list_wrap_about .Menubar_list_item:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0%;
  background: #fa5869;
  top: calc(50% + 1.5px);
  z-index: -1;
}

.Menubar_list_wrap_about .Menubar_list_item:last-of-type:hover::after {
  /* width: 102%; */
  /* left: 7%; */
}

.Menubar_list_wrap_about .Menubar_list_item a {
  padding: 0 10px;
  color: #222;
}

.Menubar_list_wrap_about .Menubar_list_item:last-of-type a {
  padding: 0 0 0 10px;
}

.Menubar_wrap_about .Menubar_list_logo {
  width: 100%;
  max-width: 330px;
}

.Menubar_wrap_about .Menubar_list {
  padding: 0rem 0.5rem 2rem 1rem;
}

.Menubar_list {
  z-index: 3;
}

.Menubar_wrap_about_mobile {
  position: fixed;
  max-width: 100vw;
  top: 0;
  width: 100%;
  display: flex;
  padding: 15px 0 10px 0;
  justify-content: space-evenly;
}

.Menubar_wrap_about_mobile .Menubar_logo_wrap {
  /* padding: .8rem .8rem 0 0 ; */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.Menubar_wrap_about_mobile .Menubar_list_logo {
  /* max-width: calc(100% - 160px); */
  max-width: 100%;
  display: inline-block;
}

.Menubar_wrap_about_mobile .Menubar_list {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 2rem;
}

.Menubar_wrap_about_mobile .Menubar_logo_about {
  max-width: 200px;
  display: inline-block;
}

.Menubar_wrap_about_mobile .Menubar_list_wrap_about {
  padding: 0;
}

/* work version */
.Menubar_wrap.Menubar_wrap_work {
  background-color: #194b92;
  position: fixed;
  height: 6.4rem;
  width: 100%;
  backdrop-filter: none;
  /* align-items: flex-end; */
  top: 0;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  /* padding: 30px 0 8px 0; */
  padding: 15px 0 10px 0;
}

.Menubar_wrap_work .Menubar_logo_wrap {
  margin-top: 0;
  width: 200px;
  left: 0;
  top: 12px;
  position: relative;
}

.Menubar_list_wrap_work,
.Menubar_list_wrap_single {
  /* justify-content: space-between; */
  /* flex-direction: row; */
  /* width: 100%; */
}

.Menubar_wrap_work h1 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
  /* width: calc(100% - 220px); */
  padding: 10px 0 0 0;
  max-width: 200px;
}

.Menubar_list_wrap_work .Menubar_list_item a {
  color: #fff;
}

.Menubar_list_wrap_work .Menubar_list_item:hover::after {
  content: "";
  position: absolute;
  height: 3px;
  right: 0;
  width: 110%;
  left: -5%;
  background: #fa5869;
  top: calc(50% + 1.5px);
  z-index: -1;
}

.Menubar_list_wrap_work .Menubar_list,
.Menubar_list_wrap_single .Menubar_list {
  padding: 0;
  flex-direction: column;
  margin: 0;
  z-index: 3;
}

.Menubar_wrap.Menubar_wrap_work .Footer_text {
  display: none;
}

/* single version */
.Menubar_wrap_work.Menubar_wrap.Menubar_wrap_single {
  background-color: #fff;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  height: unset;
}
.Menubar_wrap.Menubar_wrap_single h1 {
  color: #fa5869;
}

.Menubar_wrap_single .Menubar_logo_wrap {
  order: 0;
}
.Menubar_wrap_single.Menubar_wrap_work h1 {
  max-width: unset;
  text-align: right;
}

.Menubar_list_wrap_single {
  order: 1;
}

.Menubar_wrap_single .single_info {
  order: 2;
  width: 100%;
}

.Menubar_list_wrap_single li a {
  color: #222;
}

.Menubar_wrap_single .single_subtitle {
  color: #194b92;
  text-align: center;
  margin: 2rem 0 0.8rem 0;
  /* font-size: 2.5rem; */
  font-size: 1.8rem;
}
.single_category_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Menubar_wrap_single .single_category_text {
  color: #5d5a5a;
  text-align: center;
  margin: 0.5rem 0;
  font-size: 1rem;
}
.Menubar_wrap_single .single_category_pill {
  color: #fa5869;
  border: 2px solid #fa5869;
  display: inline-block;
  padding: 0 7px 2px 7px;
  right: 0;
  border-radius: 100px;
  margin: 0;
  font-size: 12px;
  margin-left: 12px;
}
/* max-width => 小於多少則... */

@media (min-width: 425px) {
  /* about version */
  .Menubar_wrap_about_mobile .Menubar_logo_about {
    max-width: 180px;
  }
  .Menubar_wrap_about_mobile .Menubar_list_logo {
    /* width: calc(100% - 180px); */
    /* max-width: 330px; */
  }
  .Menubar_wrap_about .Menubar_logo_about {
    max-width: 240px;
  }
}

@media (min-width: 576px) {
  .Menubar_wrap_index {
    width: max(21%, 260px);
    left: 8%;
    height: 100%;
    display: block;
    top: 0;
  }

  .Menubar_wrap_index .Menubar_list {
    padding: 3rem 2rem 3rem 1rem;
  }
  .Menubar_logo_index {
    width: max(25%, 200px);
    padding: 3rem 0;
  }
  .Menubar_list_item a,
  .Menubar_list_item button {
    font-size: 16px;
  }
  .Menubar_list_wrap_work .Menubar_list_item:hover::after {
    width: 3px;
    height: calc(100% - 14px);
    right: -1rem;
    top: 7px;
    left: unset;
  }

  .Menubar_list_wrap_about .Menubar_list_item:hover::after {
    height: 8px;
    top: calc(50% - 4px);
  }
}

@media (min-width: 768px) {
  .Menubar_list_item a,
  .Menubar_list_item button {
    font-size: 19px;
  }
  .Menubar_wrap_index {
    width: max(21%, 320px);
    left: 8%;
    height: 100%;
    display: block;
    top: 0;
  }
  /* work version */
  .Menubar_wrap.Menubar_wrap_work {
    height: 100%;
    width: 22%;
    /* align-items: flex-end; */
    top: 0;
    flex-direction: column;
    flex-wrap: unset;
    padding: 0;
  }
  .Menubar_wrap_work .Menubar_logo_wrap {
    margin-top: 4rem;
    width: 100%;
    max-width: unset;
  }
  .Menubar_wrap_work h1 {
    margin: 2rem auto;
    font-size: 3rem;
    width: 100%;
  }
  .Menubar_list_wrap_work,
  .Menubar_list_wrap_single {
    height: 100%;
    flex-direction: column;
    width: 100%;
  }
  .Menubar_list_wrap_work .Menubar_list,
  .Menubar_list_wrap_single .Menubar_list {
    padding: 3rem 1rem 6rem 0;
    width: auto;
    flex-direction: column;
  }
  /* .Menubar_wrap_work .Menubar_list_item {
    margin: 0.5rem 0;
  } */
  .Menubar_list_wrap_work .Menubar_list_item {
    padding: 0.5rem 0;
  }
  /* .Menubar_list_wrap_work .Menubar_list_item a {
    font-size: 20px;
  } */
  .Menubar_wrap.Menubar_wrap_work .Footer_text {
    display: block;
    font-size: 12px;
  }
  .Menubar_wrap_about .Menubar_logo_wrap {
    /* width: 220px; */
  }
  /* single over tablet version */
  .Menubar_wrap.Menubar_wrap_work.Menubar_wrap_single {
    height: 100%;
    width: 22%;
    /* align-items: flex-end; */
    top: 0;
    flex-direction: column;
    flex-wrap: unset;
    padding: 0;
  }
  .Menubar_list_wrap_single {
    order: 2;
  }

  .Menubar_wrap_single .single_info {
    order: 1;
    /* width: auto; */
  }
  .Menubar_wrap_single .single_subtitle {
    text-align: right;
    font-size: 2.5rem;
    padding: 1rem 0 2rem 0;
  }
  .Menubar_wrap_single .single_category_text {
    text-align: right;
    margin: 1rem 0;
  }
  .single_category_wrap {
    display: block;
  }
  .Menubar_wrap_single .single_category_text {
    font-size: 1.3rem;
  }
  .Menubar_wrap_single .single_category_pill {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  .Menubar_wrap_work h1 {
    padding-right: 2rem;
  }
  .Menubar_list_wrap_work li a {
    font-size: 22px;
  }
  .Menubar_wrap_about {
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .Menubar_wrap_about .Menubar_logo_about {
    max-width: 320px;
  }
  .Menubar_list_wrap_work .Menubar_list {
    padding: 3rem 2rem 3rem 1rem;
  }
  .Menubar_wrap_work h1 {
    font-size: 4rem;
  }
  .Menubar_wrap.Menubar_wrap_work .Footer_text {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .Menubar_logo_index {
    width: max(25%, 280px);
  }
}
